/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer; /* Ensure the pointer appears on hover */
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1, h2 {
  font-weight: bold;
}
